<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../static/styling.css">
<head>
    <title>Ingmar's Homepagina</title>
</head>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="news">News</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="about">About</a></li>
</ul>

<h1> Hallo, dit is de homepagina van Ingmar in HTML met CSS Styling</h1>

<p> Dit is een paragraaf, hieronder ga ik een prachtig mooie foto plakken </p>

<img src="../static/media/Testing.jpg" alt="Prachtige foto" />
</html>

